body {
  background: rgb(125, 125, 125);
  background: linear-gradient(
    0deg,
    rgba(125, 125, 125, 1) 0%,
    rgba(35, 59, 176, 1) 100%
  );
}


.container{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}